.hcontainer {
    background-color: lightskyblue;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.hlogo {
    height: 50px;
    width: auto;
}

.haul {
    color: white;
    list-style-type: none;
    text-decoration-line: none;
    padding: 8px;
}

.bcontainer {

}

.bitem {

}

.fcontainer {

}

.fitem {
    
}